# Laravelプロジェクト側
todo-with-laradock/*.log
todo-with-laradock/.DS_Store
todo-with-laradock/.env
todo-with-laradock/.env.backup
todo-with-laradock/.env.production
todo-with-laradock/.phpactor.json
todo-with-laradock/.phpunit.result.cache
todo-with-laradock/.phpunit.cache
todo-with-laradock/.fleet
todo-with-laradock/.idea
todo-with-laradock/.nova
todo-with-laradock/.vscode
todo-with-laradock/.zed
todo-with-laradock/auth.json
todo-with-laradock/node_modules
todo-with-laradock/public/build
todo-with-laradock/public/hot
todo-with-laradock/public/storage
todo-with-laradock/storage/*.key
todo-with-laradock/storage/pail
todo-with-laradock/vendor
todo-with-laradock/Homestead.json
todo-with-laradock/Homestead.yaml
todo-with-laradock/Thumbs.db



# Laradock の不要ファイル
laradock/.idea
laradock/logs
laradock/data
laradock/.env
laradock/.project
laradock/.docker-sync
laradock/jenkins/jenkins_home

laradock/logstash/pipeline/*.conf
laradock/logstash/config/pipelines.yml

laradock/nginx/ssl/*.crt
laradock/nginx/ssl/*.key
laradock/nginx/ssl/*.csr

laradock/apache2/ssl/*.crt
laradock/apache2/ssl/*.key
laradock/apache2/ssl/*.csr
laradock/apache2/ssl/*.org

laradock/.devcontainer/*
!laradock/.devcontainer/devcontainer.example.json
!laradock/.devcontainer/docker-compose.extend-example.yml

laradock/docker-compose.custom.yml

laradock/.DS_Store

laradock/workspace/insecure_id_rsa
laradock/workspace/insecure_id_rsa.ppk
laradock/workspace/insecure_id_rsa.pub
